$line: #b7b9b9;
.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  .icons {
    a {
      text-decoration: none;
      display: block;
      font-size: 3rem;
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    .info-left {
      width: 40rem;
      h2 {
        font-size: 3rem;
      }
      span {
        display: inline-block;
        margin-bottom: 5rem;
        font-size: 1.2rem;
      }
      p {
        display: inline-block;
        font-size: 1.6rem;
        color: #626565;
      }
    }
    .info-right {
      img {
        width: 40rem;
        height: 50rem;
        filter: grayscale(100%);
        padding: 5px;
        border: 1px solid $line;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    .icons {
      display: none;
    }
    .info {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      .info-left {
        width: 20rem;
        text-align: center;
        span {
          margin-bottom: 2rem;
          font-size: 1rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
      .info-right {
        img {
          width: 20rem;
          height: 30rem;
          padding: 3px;
        }
      }
    }
  }
}
