.skills {
  width: 100%;
  text-align: center;

  h2 {
    font-size: 2.8rem;
    margin-bottom: 5rem;
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .box {
      background-color: white;
      border-radius: 5px;
      width: 35rem;
      height: 35rem;
      padding: 20px;
      text-align: center;
      h3 {
        margin-bottom: 2rem;
      }
      .front-skills,
      .back-skills {
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .skill {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1.2rem;

          .icon {
            font-size: 4rem;
            display: block;
          }
          .caption {
            h4 {
              font-size: 2rem;
              margin-bottom: 0;
            }
            span {
              font-size: 1.2rem;
              color: grey;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .boxes {
      .box {
        .front-skills,
        .back-skills {
          .skill {
            .icon {
              font-size: 4rem;
            }
            .caption {
              h4 {
                font-size: 1.5rem;
                margin-bottom: 0;
              }
              span {
                font-size: 1rem;
                color: grey;
              }
            }
          }
        }
      }
    }
  }
}
