@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,500&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

$primary: #f6f6f6;
$line: #b7b9b9;

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary;
  font-family: "Poppins";

  /* Navbar */
  .navbar {
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid $line;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      width: 70vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      font-size: 1.8rem;
    }

    .links {
      a {
        text-decoration: none;
        margin-right: 1.2rem;
        color: black;
      }
    }
  }

  .content {
    width: 100vw;
    height: 90vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .home {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      .icons {
        a {
          text-decoration: none;
          i {
            display: block;
            margin-bottom: 2rem;
          }
        }
      }

      .info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        .info-left {
          width: 40rem;
          h2 {
            font-size: 2rem;
            margin-bottom: 3rem;
          }
          p {
            display: inline-block;
            font-size: 1.6rem;
            color: #626565;
          }
        }
        .info-right {
          img {
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            background: transparent;
          }
        }
      }
    }
  }
}
